
.kegiatan-list-section {
    padding: 40px 0 60px 0;
    
}

/* Gaya untuk paragraf di dalam kartu .item pada halaman kegiatan */
/* Ini akan memastikan deskripsi kegiatan tidak di-capitalize, 
   jika CSS utama Anda memiliki text-transform: capitalize global. */

.item{
    background:#fff;
    text-align: center;
    padding:30px 25px;
    box-shadow: 0 0 25px #F5C000;
    border-radius: 20px;
    margin-bottom: 30px;
    margin-top: -2rem;
    border:5px solid #F5C000;
    -webkit-transition:all 0.5s ease 0s;
    transition:all 0.5s ease 0s;
  }
  .item:hover{
    background:#c8d8e4;
    box-shadow: 0 8px 20px 0 #F5C000;
    -webkit-transition:all 0.5s ease 0s;
    transition:all 0.5s ease 0s;
  }
  .item:hover .item,
  .item:hover span.icon{
    background:#fff;
    border-radius: 10px;
    -webkit-transition:all 0.5s ease 0s;
    transition:all 0.5s ease 0s;
  }
  .item h6{
      font-size: 2rem;
  }
  .item:hover h6,
  .item:hover p{
    color:#F5C000;
    -webkit-transition:all 0.5s ease 0s;
    transition:all 0.5s ease 0s;
  }
  .item .icon{
    font-size:40px;
    margin-bottom: 25px;
    color:#FA812F;
    width:90px;
    height:90px;
    line-height: 96px;
    border-radius: 50px;
  }
  .item .feature_box_col_one{
    background:rgba(247,198,5,0.2);
    color:#52ab98;
  }
  .item .feature_box_col_two{
    background: rgba(255, 77, 28, 0.15);
    color:#52ab98;
  }
  .item .feature_box_col_three{
    background:rgba(0,147,38,0.15);
    color:#52ab98;
  }
  .item .feature_box_col_four{
    background:rgba(0,108,255,0.15);
    color:#52ab98;
  }
  .item .feature_box_col_five{
    background:rgba(146,39,255,0.15);
    color:#52ab98;
  }
  .item .feature_box_col_six{
    background:rgba(23,39,246,0.15);
    color:#52ab98;
  }
    .item .feature_box_col_seven{
    background:rgba(0,108,255,0.15);
    color:#52ab98;
  }
  .item .feature_box_col_eight{
    background:rgba(146,39,255,0.15);
    color:#52ab98;
  }
  .item .feature_box_col_nine{
    background:rgba(23,39,246,0.15);
    color:#52ab98;
  }
  .item p{
    font-size: 15px;
    line-height: 26px;
  }
  .item h6{
    margin-bottom: 20px;
    color:#2f2f2f;
  }   

.counters {
	background-image: url(../images/img03.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
	color: #fff;
	padding: 40px 20px;
}

.counters .container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
	text-align: center;
}

.counters i {
	color: #fff;
	margin-bottom: 5px;
}

.counters .counter {
	font-size: 45px;
	margin: 10px 0;
}

@media (max-width: 700px) {
	.counters .container {
		grid-template-columns: repeat(2, 1fr);
	}

	.counters .container > div:nth-of-type(1),
	.counters .container > div:nth-of-type(2) {
		border-bottom: 1px #FA812F solid;
		padding-bottom: 20px;
	}
}

.section-head-1{
    margin-bottom: 60px;
    background-size: 200%;
    background-position: left;

  }
  .section-head-1 p{
    color:#333;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }
  .item{
    background:#fff;
    text-align: center;
    padding:30px 25px;
    box-shadow: 0 0 25px rgba(0,0,0,0.07);
    border-radius: 20px;
    margin-bottom: 30px;
    border: 1px solid rgba(0,0,0,0.07);
    -webkit-transition:all 0.7s ease 0s;
    transition:all 0.7 ease 0s;
    
  }
  .item:hover{
    background-image: linear-gradient(to bottom right, #66ffcc 0%, #ffccff 100%);
    background-position: right;
    transition: background-position 3s;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    -webkit-transition:all 0.5s ease 0s;
    transition:all 0.7s ease 0s;
  }
  .item:hover .item,
  .item:hover span.icon{
    background:#fff;
    border-radius: 10px;
    -webkit-transition:all 0.5s ease 0s;
    transition:all 0.5s ease 0s;
  }
  .item:hover h6,
  .item:hover p{
    color:#2b6777;
    -webkit-transition:all 0.5s ease 0s;
    transition:all 0.5s ease 0s;
  }
  .item .icon{
    font-size:40px;
    margin-bottom: 25px;
    color:#FA812F;
    width:90px;
    height:90px;
    line-height: 96px;
    border-radius: 50px;
  }
  .item .feature_box_col_one{
    background:rgba(247,198,5,0.2);
    color:#52ab98;
  }
  .item .feature_box_col_two{
    background: rgba(255, 77, 28, 0.15);
    color:#52ab98;
    
  }
  .item .feature_box_col_three{
    background:rgba(0,147,38,0.15);
    color:#52ab98;
  }
  .item .feature_box_col_four{
    background:rgba(0,108,255,0.15);
    color:#52ab98;
    
  }
  .item .feature_box_col_five{
    background:rgba(146,39,255,0.15);
    color:#52ab98;
  }
  .item .feature_box_col_six{
    background:rgba(23,39,246,0.15);
    color:#52ab98;
  }
  .item .feature_box_col_seven{
    background:rgba(23,39,246,0.15);
    color:#52ab98;
  }
  .item .feature_box_col_eight{
    background:rgba(23,39,246,0.15);
    color:#52ab98;
  }
  .item .feature_box_col_nine{
    background:rgba(23,39,246,0.15);
    color:#52ab98;
  }
  .item p{
    font-size: 15px;
    font-family: "Varela Round",Arial,"Helvetica Neue",Helvetica,sans-serif;
    line-height: 26px;
  }
  .item h6{
    margin-bottom: 20px;
    font-family: "Varela Round",Arial,"Helvetica Neue",Helvetica,sans-serif;
    color:#2f2f2f;
  }

/* Penyesuaian responsif (opsional, Bootstrap grid sudah membantu) */
@media (max-width: 991px) { /* Tablet */
    .item h6 {
        font-size: 1.8rem; /* Sedikit lebih kecil di tablet */
    }
    .item p {
        font-size: 1.4rem;
    }
}

@media (max-width: 767px) { /* Mobile */
    .item {
        padding: 25px 20px; /* Padding lebih kecil di mobile */
    }
    .item .icon {
        width: 65px;
        height: 65px;
        margin-bottom: 15px;
    }
    .item .icon i {
        font-size: 28px;
    }
    .item h6 {
        font-size: 1.7rem;
    }
    .item p {
        font-size: 1.35rem;
    }
}

.home .wave {
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  height: 11rem;
  width: 100%;
  background: url(../images/wave.png);
  background-size: 100rem 11rem;
  animation: waves 8s linear infinite;
  background-repeat: repeat-x;
}

.home .wave2 {
  animation-direction: reverse;
  animation-duration: 6s;
  opacity: 0.3;
}

.home .wave3 {
  animation-duration: 4s;
  opacity: 0.5;
}
/* Anda bisa menambahkan gaya lain di sini jika diperlukan untuk halaman kegiatan */